{%  extends 'meals/app.html' %}

{% block content %}
        <div class="container my-5 text-center" style="max-width:580px">
            <h1>My Restaurant</h1>
            <p class="lead">Make yourself comfortable and wait for the food.
            </p>
            <button type="button" class="btn btn-primary">Buy Now!</button>
            <a href="{%url 'contact-us'%}" type="button" class="btn btn-secondary">Contact us</a>
        </div>
    
        <div class="container">
            <div class="row row-cols-3 g-4">
                {% for meal in meals %}
                <div class="col">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{meal.image.url}}" class="card-img-top" alt="...">
                           
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{meal.name}}</h5>
                            <p class="card-text">{{meal.description}}</p>
                            <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    
{% endblock %}

